<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Choose Your Own Adventure</h2>
                <h3 class="section-subheading text-muted">Step-by-Step</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 1</h4>
                                <h4 class="subheading">Choose a Theme</h4>
                            </div>
                            <div class="timeline-body">Are we lovers in a cozy seaside romance? Or perhaps rogue explorers chasing down a chance meeting, searching for something exhilerating? Are you ready to submit to your inner desires, and taste the spicier delights?</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 2</h4>
                                <h4 class="subheading">Pick a Location</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The setting to the story: the rainy cafe meetup transitioning into the cyber-punk rave. The REI shopping trip, and road trip karoke to the trailhead before a backcountry escape. The private dungeon with mood lighting to bring you to your knees.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 3</h4>
                                <h4 class="subheading">Expand the Party</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Three's a party, and four's an adventure. Looking for additional travel partners, hotel orgies, or a willing submissive? Perhaps, a friendly trail dog to chase away the bears at night? Find your tribe.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Step 4</h4>
                                <h4 class="subheading">Contact Me</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Are you ready to turn the page and see what adventure awaits?</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Build
                                <br>Your Own
                                <br>Memory</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>