<!-- Bio Section -->
<section id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My name's Mylo.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Adventure, togetherness, and presence are at the core of how I live all aspects of my life.
                    Whether hiking with my canine soulmate, or rollerblading down city streets in an urban jungle,
                    I strive to make sure everything I do is with intention, empathy, and the right amount of sass.                    
                </p>
                <p>
                    I believe in the healing power of humor, the sensuality of silly moments shared with an open heart,
                    and the beauty that comes with vulnerability. Through my own journey towards personal fulfillment,
                    I became attuned to the unparalleled power of partnership. Now I offer my grounding presence as 
                    an adventure companion to inspiring adventure seekers like you, who are looking to realize the full
                    potential of their inner light off the beaten path!
                </p>
                <p>
                    My sincerest hope for you is that you find your way to happiness and openness. I want you to
                    experience the things you dream about, to be able to share those moements with the people who
                    appreciate them like you do, and for you to know deep down that you are living your life to its
                    absolute fullest!
                </p>
                <p>
                    Follow my adventures on <a href= https://onlyfans.com/mylo-ryn>OnlyFans</a> or join me in creating unforgettable memories together.
                </p>
            </div>
        </div>
    </div>
</section>