<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Engage with Me</h2>
                <h3 class="section-subheading text-muted">Let's start our shared adventure.</h3>
            </div>
        </div>
        <div id="links" class="row">
            {% for link in site.data.links %}
            {% assign modulo = forloop.index | modulo: 3 %}
            {% if modulo == 1 %}
            <div class="col-lg-4">
            {% endif %}
                <div class="row">
                    <div class="col-sm-6">
                        <span>{{ link.name }}</span>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ link.url }}" class="section-subheading">{{ link.username }}</a>
                    </div>
                </div>
            {% if modulo == 0 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div><!-- .row -->
        <!-- Contact Information -->
        <!-- The Form -->
        <div class="row">
            <div class="col-lg-12">
                {% include google-calendar-appointment-booking-form.html %}
                {% comment %}
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-6">
                            <h4 class="text-center" style="color: white;">Logistics</h4>
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="City of Request" id="city" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <select class="form-control" id="screen" required data-validation-required-message="Please select a screening method">
                                    <option value="" disabled selected>Select a Required Screening Method</option>
                                    <option value="screen1">Government ID + Selfie</option>
                                    <option value="screen2">LinkedIn Profile + Selfie</option>
                                    <option value="screen3">Public Location Civ Date for $100/hr </option>
                                    <option value="screen4">Verified Content Creator looking for Collab</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="How'd ya find me?" id="phone" required data-validation-required-message="Tryst, OnlyFans, Bluesky, etc">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <!-- Right Column -->
                        <div class="col-md-6">
                            <h4 class="text-center" style="color:white;">Experience</h4>
                            <div class="control-group form-group">
                                <select class="form-control" id="theme" required data-validation-required-message="Please select a theme">
                                    <option value="" disabled selected>Select a Theme</option>
                                    <option value="theme1">Gold: Sensual + Alluring</option>
                                    <option value="theme2">Diamond: Binding + Impactful</option>
                                    <option value="theme3">Titanium: Exotic + Adventurous</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <select class="form-control" id="theme" required data-validation-required-message="Please select a location">
                                    <option value="" disabled selected>Select a Location</option>
                                    <option value="location1">Hotel BFE</option>
                                    <option value="location2">Virtual: OnlyFans</option>
                                    <option value="location3">Dungeon: Pro-Dom BDSM</option>
                                    <option value="location4">The Backcountry</option>
                                    <option value="location5">Recording Studio</option>
                                    <option value="location6">The City</option>
                                </select>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="tel" class="form-control" placeholder="Want to expand the party?" id="duos" >
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Improv section. Write more if you please."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><!-- .col-md-6 -->
                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="policy-check" required>
                                        <a href="https://mylo-ryn.tryst.link/#policies"> I've read the cancellation policy.</a>
                                    </label>
                                </div>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="newsletter-check" required>
                                    <a> Please add me to your mailing list for updates and tour announcements.</a>
                                </label>
                            </div>

                            <div id="success"></div>
                            <p class="text-center">
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </p>
                        </div>
                    </div>
                </form>
                {% endcomment %}
            </div>
        </div>
    </div>
</section>
