<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pack Your Bags</h2>
                <h3 class="section-subheading text-muted">Spoil me like Santa with a pack full of goodies</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <h4 class="service-heading">Gold</h4>
                <p class="text-muted">Sensual + Alluring. with me. I'm not quite girl, not quite boy, and not quite what you expect. </p>
                <a href="'https://throne.com/mylo-ryn/collections/gold-sensual-alluring" 
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Diamond</h4>
                <p class="text-muted">Binding + Impactful. Whether you're a seasoned submissive or just curious about exploring your desires, I'll take you on a journey of discovery and pleasure.  My favorites are Tease and Denial, Rope/Shabari, Impact, and power play (D/s, Dom/sub, etc). I offer combo Full Service escort and BDSM play. </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-compass fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Titanium</h4>
                <p class="text-muted">Exotic + Adventurous. In the wild, join me in seeking out new adventures. From backpacking the Arctic National Wildlife Refuge in Northern Alaska, to learning to ski in Colorado, to skydiving in upstate New York, I love thrill and novelty. I regularly go to non-stop raves, and enjoy rollerblading down Brooklyn streets.</p>
            </div>
        </div>
    </div>
</section>