<section id="rates">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">5. Check the Books</h2>
                <!-- <h3 class="section-subheading text-muted">Competitive pricing for quality service</h3> -->
            </div>
        </div>
        <div class="rates-container">
            <div class="column">
                <h2>Full Service</h2>
                <div class="rate-item">
                    <div class="rate-header">
                        <span class="rate-title">2 hour</span>
                        <span class="rate-price">$760</span>
                    </div>
                    <div class="rate-description">Bite-Sized Adventure</div>
                </div>

                <div class="rate-item">
                    <div class="rate-header">
                        <span class="rate-title">Weekend Getaway</span>
                        <span class="rate-price">$1,500/day</span>
                    </div>
                    <div class="rate-description">2-3 day trips. Requires 8hrs uninterrupted sleep.</div>
                </div>

                <div class="rate-item">
                    <div class="rate-header">
                        <span class="rate-title">Disconnect from Society</span>
                        <span class="rate-price">$1,000/day</span>
                    </div>
                    <div class="rate-description"> +4 days. Plus all tour guide and trip expenses.</div>
                </div>

                <div class="rate-item">
                    <div class="rate-header">
                        <span class="rate-title">Custom Adventure</span>
                        <span class="rate-price">.</span>
                    </div>
                    <div class="rate-description">Let me build a package for you.</div>
                </div>
                <!-- More rate-items as needed -->
            </div>
            
            <div class="column">
                <h2>Virtual</h2>
                <div class="rate-item">
                    <div class="rate-header">
                        <span class="rate-title">OnlyFans</span>
                        <span class="rate-price">$15/month</span>
                    </div>
                    <div class="rate-description">Follow my adventures and sexy escapades <a href="https://onlyfans.com/mylo-ryn"> Mylo-Ryn</a></div>
                </div>
                <div class="rate-item">
                    <div class="rate-header">
                        <span class="rate-title">ManyVids - Joint Account</span>
                        <span class="rate-price">PPV</span>
                    </div>
                    <div class="rate-description">Full length vanilla and kink scenes with <a href="https://violetrollergirl.manyvids.com/"> Violet Rollergirl</a></div>
                </div>
                <div class="rate-item">    
                    <div class="rate-header">
                        <span class="rate-title">Video Editing Add-On</span>
                        <span class="rate-price">$100/hr </span>
                    </div>
                    <div class="rate-description">I'll edit our shared experience into a cutom video, with $100 per hour of recorded content.</div>
                </div>
                <div class="rate-item">    
                    <div class="rate-header">
                        <span class="rate-title">Spoil Me</span>
                        <span class="rate-price">varied</span>
                    </div>
                    <div class="rate-description">Spoil me with a gift: <a href="https://throne.com/mylo-ryn"> Throne</a></div>
                </div>
                <!-- More rate-items as needed -->
            </div>
        </div>
    </div>
</section>