<!-- Services Section -->
<section id="themes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">1. Choose a Theme</h2>
                {% comment %}
                <h3 class="section-subheading text-muted">.</h3>
                {% endcomment %}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <img src="img/theme/gold.jpg" class="img-responsive booking-option" style=" border-radius: 8px;" alt="" onclick="selectTheme('sweet', this)">
                <h4 class="service-heading">Sweet</h4>
                <p class="text-muted"><b>Sensual + Alluring.</b> You bring your authentic self, and I'll provide the judgment-free companionship with empathy. I'm silly and playful, breaking tension and relaxing you into my arms. Bi-curious are especially welcome to take a half step with me. I'm not quite girl, not quite boy, and not quite what you expect. </p>
                <a href="https://throne.com/mylo-ryn/collections/gold-sensual-alluring"> Gold gifts to Spoil me </a>
            </div>
            <div class="col-md-6">
                <img src="img/theme/diamond.jpg" class="img-responsive booking-option" style=" border-radius: 8px;" alt="" onclick="selectTheme('spicy', this)">
                <h4 class="service-heading">Spicy</h4>
                <p class="text-muted"><b>Binding + Impactful.</b> Whether you're a seasoned submissive or just curious about exploring your desires, I'll take you on a journey of discovery and pleasure.  My favorites are Tease and Denial, Rope/Shabari, Impact, and power play (D/s, Dom/sub, etc). I offer combo Full Service escort and BDSM play. </p>
                <a href="https://throne.com/mylo-ryn/collections/diamond-binding-impactful"> Diamond gifts to Spoil me </a>
            </div>
        </div>
    </div>
</section>

<!-- Add this script section -->
<script>
    function selectTheme(theme, element) {
        // First remove 'selected' class from all images
        document.querySelectorAll('.booking-option').forEach(img => {
            img.classList.remove('selected');
        });
        
        // Add 'selected' class to clicked image
        element.classList.add('selected');
        
        // Fill in the city field
        document.getElementById('theme').value = theme;
        
        // Smooth scroll to contact section
        //document.getElementById('contact').scrollIntoView({ 
        //    behavior: 'smooth',
        //    block: 'start'
        //});
    }
</script>

